<ul>
  <li><a href="/grammars.html">Grammar syntax</a></li>
  <li><a href="/strings.html">Matching text</a></li>
  <li><a href="/chars.html">Character classes</a></li>
  <li><a href="/maybe.html">Optional syntax</a></li>
  <li><a href="/repetition.html">Repetition</a></li>
  <li><a href="/sequences.html">Sequences</a></li>
  <li><a href="/choices.html">Ordered choices</a></li>
  <li><a href="/references.html">Cross-references</a></li>
  <li><a href="/lookaheads.html">Lookaheads</a></li>
  <li><a href="/types.html">Building parse trees</a></li>
</ul>

<ul>
  <li><a href="/langs/java.html">Java</a></li>
  <li><a href="/langs/javascript.html">JavaScript</a></li>
  <li><a href="/langs/python.html">Python</a></li>
  <li><a href="/langs/ruby.html">Ruby</a></li>
</ul>

<ul>
  <li><a href="https://github.com/jcoglan/canopy">GitHub</a></li>
</ul>
