*.class
*.dll
*.pyc

Gemfile.lock
Pipfile.lock
node_modules
package-lock.json

lib

test/grammars/**/*.cs
test/grammars/**/*.java
test/grammars/*.js
test/grammars/*.py
test/grammars/*.rb
test/cs/bin
test/cs/obj
test/java/target

.jekyll-cache
