---
---

body {
  background: #2d2d2d;
  color: #dddddd;
  font: 15px/1.8 FreeSans, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header, .footer {
  clear: both;
  margin: 0 auto;
  padding: 0 200px;
  width: 600px;
}

.footer {
  border-top: 1px solid #666666;
  font-size: 80%;
  margin-bottom: 4em;
  padding: 1em 0;
  width: 600px;
}

h1 {
  font-size: 400%;
  text-align: center;
}
h1 a {
  text-decoration: none;
}
h1 span {
  border-top: 1px solid #666666;
  display: block;
  font-size: 20%;
  font-weight: normal;
  padding-top: 1.5em;
}

.main {
  margin: 0 auto;
  width: 1000px;
}

.navigation {
  float: left;
  position: fixed;
  width: 160px;
}
.navigation ul {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}
.navigation ul a {
  color: #aaaaaa;
  text-decoration: none;
}
.navigation ul a:hover {
  color: white;
  text-decoration: underline;
}

.content {
  float: left;
  width: 600px;
  margin: 0 0 2em 200px;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 2em 0 0.5em;
}

h2:first-child {
  margin-top: 0.5em;
}

h6 {
  background: #dddddd;
  color: #333333;
  font-size: 80%;
  margin-bottom: -1em;
  padding: 0.2em 1em;
  width: 8em;
}

pre {
  border-bottom: 1px solid #666666;
  border-top: 1px solid #666666;
  font-size: 80%;
  padding: 1em;
}

a {
  color: white;
  text-decoration: underline;
}

@import "syntax-highlighting";
