:textile
  The latest version is 0.2.0, released 16 May 2012. It is free software,
  released under the MIT license. The command-line version can be installed
  using @npm@:

  <pre>$ npm install -g canopy</pre>

  The download below contains the Canopy library in source and minified form,
  including a source map. It works on both browser and CommonJS platforms.

  h3. "Download Canopy v0.2.0":/assets/canopy.0-2-0.zip
