:textile
  h2. Extending nodes with types

  The syntax nodes produced by Canopy by default are all of the same 'type'.
  They all have a @textValue@, an @offset@ and a (possibly empty) list of
  @elements@. But you can add your own methods to them to add new functionality
  to the parse tree.

  This is done by annotating parsing expressions with types. A type is any valid
  JavaScript object name like @Foo.Bar@ surrounded with pointy brackets. When
  the input matches this expression, the generated syntax node will be augmented
  with the methods from the named type.

  Let's take a simple example: matching a string literal:

  <h6>strings.peg</h6>
  <pre>grammar Strings
    root  <-  "hello" <HelloNode></pre>

  <h6>strings_test.js</h6>
  <pre>var strings = require('./strings');

  strings.Parser.HelloNode = {
    upcase: function() {
      return this.textValue.toUpperCase();
    }
  };

  var tree = strings.parse('hello');
  console.log(tree.upcase());</pre>

  What we're doing here is saying, in the grammar, that a node matching @hello@
  is of type @HelloNode@. Then in our JavaScript code, we add the @HelloNode@
  module to the parser, and use the parser to process a string.

  Because the string matches our typed rule, it gains the methods from the
  @HelloNode@ module, and we can invoke those methods on the node.

  Let's run this script:

  <pre>$ node strings_test.js
  HELLO</pre>

  Notice how the @HelloNode@ module is added to the parser, rather than being a
  global. This makes sure it works properly in CommonJS environments without
  introducing global variables. In the browser, the @grammar Strings@ line means
  the parser is referred to as @StringsParser@, and you'd add your node types to
  that:

  <pre>StringsParser.HelloNode = {
    upcase: function() { ... }
  };

  var tree = StringsParser.parse('hello');</pre>

  In the grammar syntax, type annotations bind to sequences. That is, a type
  annotation may only appear at the end of a sequence expression, and binds
  tighter than choice expressions.

  For example the following means that a node matching the sequence
  @"foo" "bar"@ will be augmented with the @Extension@ methods.

  <h6>types.peg</h6>
  <pre>grammar Types
    root  <-  first:"foo" second:"bar" <Extension></pre>

  The extension methods have access to the labelled node from the sequence.

  <h6>types_test.js</h6>
  <pre>var types = require('./types');

  types.Parser.Extension = {
    convert: function() {
      return this.first.textValue +
             this.second.textValue.toUpperCase();
    }
  };

  types.parse('foobar').convert()
  // -> 'fooBAR'</pre>

  Because type annotations bind to sequences rather than to choices, the
  following matches either the string @"abc"@ which gains the @Foo@ type, or
  @"123"@ which gains the @Bar@ type:

  <pre>grammar Choice
    root  <-  "a" "b" "c" <Foo> / "1" "2" "3" <Bar></pre>

  If you want all the branches of a choice to be augmented with the same type,
  you need to parenthesize the choice and place the type afterward.

  <h6>choices.peg</h6>
  <pre>grammar Choices
    root    <-  (alpha / beta) <Extension>
    alpha   <-  first:"a" second:"z"
    beta    <-  first:"j" second:"c"</pre>

  <h6>choices_test.js</h6>
  <pre>var choices = require('./choices');

  choices.Parser.Extension = {
    convert: function() {
      return this.first.textValue +
             this.second.textValue.toUpperCase();
    }
  };

  choices.parse('az').convert()
  // -> 'aZ'

  choices.parse('jc').convert()
  // -> 'jC'</pre>

